.teste{
    width: 20vw;
    height: 150px;
    background-color:red;
    position: fixed;
	top: 55px;
	right: 513px;
    display: none;
}
.teste1{
    width: 20vw;
    height: 150px;
    background-color:red;
    position: fixed;
	top: 55px;
	right: 513px;
    
}