.teste{
    width: 20vw;
    height: 150px;
    background-color:red;
    position: fixed;
	top: 55px;
	right: 513px;
    display: none;
}
.teste1{
    width: 20vw;
    height: 150px;
    background-color:red;
    position: fixed;
	top: 55px;
	right: 513px;
    
}
.pesquisa{
    width: 550px;
    height: 600px;
    background-color:red;
    display: none;
}
.pesquisa2{
    width: 535px;
    height: 300px;
    border-radius: 10px;
    background-color:#e6e6e6;
    overflow-y:scroll;
  
   
}